@import "../../components/style/base";

.spider-row-demo-basic {
  text-align: center;
  color: white;

  & + & {
    margin-top: 16px;
  }

  :nth-child(2n + 1) {
    background: rgba($light-primary2, 0.7);
  }

  :nth-child(2n) {
    background: $light-primary2;
  }

  .spider-col-demo {
    padding: 16px 0;
  }
}
