@import "../style/variables";

.#{$prefix}-layout {
  display: flex;
  flex-direction: column;
  &-content {
    flex-grow: 1;
  }
  &.#{$prefix}-layout-with-aside {
    flex-direction: row;
  }
  .#{$prefix}-layout-header {
    height: 64px;
  }
  .#{$prefix}-layout-aside {
    width: 286px;
  }
}
