@import "../components/style/variables";

.header {
  display: flex;
  box-shadow: 0 2px 8px #f0f1f2;
  .logo-link {
    display: flex;
    align-items: center;
    padding-left: 40px;
    .logo {
      height: 50px;
    }
  }
}

.main {
  padding-top: 40px;
  .spider-layout-content {
    padding: 0 64px 144px 64px;
  }
}

.aside {
  height: calc(100vh - 64px);
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;;
  overflow-y: scroll;

  .spider-menu-vertical {
    width: 100%;
    a {
      color: inherit;
    }
  }
  & h4 {
    font-size: 14px;
  }
}
